/* index.css */

/* Header Styles */
#Header {
  background-color: #FF5733; /* Primary color */
  color: #F5F5F5; /* Background color */
  font-family: "Arial, sans-serif"; /* Main font */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#Hamburger-Menu, #Share-Button {
  background-color: transparent;
  border: none;
  color: #F5F5F5; /* Background color */
  font-family: "Arial, sans-serif"; /* Main font */
  cursor: pointer;
}

/* Main Content Styles */
#Container {
  list-style-type: none;
  padding: 20px;
  background-color: #F5F5F5; /* Background color */
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFFFFF; /* Secondary color */
  border-radius: 5px;
}

.profile {
  font-weight: bold;
}

.timeStamp {
  color: #333333; /* Text color */
}

/* Footer Styles */
#Footer {
  background-color: #FF5733; /* Primary color */
  color: #F5F5F5; /* Background color */
  padding: 20px;
  display: flex;
  align-items: center;
}

#textBox {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#submitButton {
  background-color: transparent;
  border: none;
  color: #F5F5F5; /* Background color */
  font-family: "Arial, sans-serif"; /* Main font */
  cursor: pointer;
}
